<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Email Preview</title>
</head>
<body>

<div><br></div>
<div>
<div class="gmail_quote gmail_quote_container">
<div style="margin:0px;padding:0px">
<table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
<tbody><tr><td>
<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
<tbody><tr><td>
<table class="m_-7067999236452789207row-content m_-7067999236452789207stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-radius:0px;width:600px;margin:0px auto;color:rgb(0,0,0)" width="600">
<tbody><tr><td class="m_-7067999236452789207column" width="100%" style="font-weight:400;text-align:left;padding:20px;vertical-align:top"><div style="height:60px;line-height:60px;font-size:1px"> </div>
</td></tr>
</tbody></table>
</td></tr>
</tbody></table>

<!-- Header Image -->
<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
<tbody><tr><td>
<table class="m_-7067999236452789207row-content m_-7067999236452789207stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:600px;margin:0px auto;color:rgb(0,0,0)" width="600">
<tbody><tr><td class="m_-7067999236452789207column" width="100%" style="font-weight:400;text-align:left;padding-bottom:5px;padding-top:5px;vertical-align:top">
<table class="m_-7067999236452789207image_block" width="100%" border="0" cellpadding="35" cellspacing="0" role="presentation">
<tbody><tr><td>
<div align="left">
    <div class="m_-7067999236452789207fullWidth" style="max-width:530px"><img src="https://dayinsuresecure.com/static/logo-rac.png" style="display: block; height: auto; border: 0px; width: 100%;" width="530" alt="" title="" height="auto"></div>
</div>
</td></tr></tbody></table>

<!-- Greeting -->
<table width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation">
<tbody><tr><td>
    <h2 style="margin:0px;direction:ltr;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;font-size:24px;font-weight:400;letter-spacing:normal;line-height:1.2;text-align:center;color:rgb(239,108,0)">
        <strong style="font-family:Lato,Tahoma,Verdana,Segoe,sans-serif">
            <span style="word-break:break-word;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif">
                Hi {{ name }},
            </span>
        </strong>
    </h2>
</td></tr></tbody></table>
</td></tr></tbody></table>
</td></tr></tbody></table>

<!-- Intro Text -->
<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
<tbody><tr><td>
<table class="m_-7067999236452789207row-content m_-7067999236452789207stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-radius:0px;width:600px;margin:0px auto;color:rgb(0,0,0)" width="600">
<tbody><tr><td class="m_-7067999236452789207column" width="100%" style="font-weight:400;text-align:left;padding-bottom:5px;padding-top:5px;vertical-align:top">
<table width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="word-break:break-word">
<tbody><tr><td>
<div style="direction:ltr;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;font-size:20px;font-weight:400;letter-spacing:0px;line-height:1.2;text-align:center;color:rgb(239,108,0)">
    <p style="margin:0px;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif">Thank you for insuring your vehicle with Dayinsure</p>
</div>
</td></tr></tbody></table>
</td></tr></tbody></table>
</td></tr></tbody></table>

<!-- Policy Details Header -->
<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
<tbody><tr><td>
<table class="m_-7067999236452789207row-content m_-7067999236452789207stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-radius:0px;width:600px;margin:0px auto;background-color:rgb(250,250,250);color:rgb(0,0,0)" width="600">
<tbody><tr><td class="m_-7067999236452789207column" width="100%" style="font-weight:400;text-align:left;padding-bottom:5px;padding-top:5px;vertical-align:top">
<table width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="word-break:break-word">
<tbody><tr><td>
<div style="direction:ltr;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;font-size:20px;font-weight:400;letter-spacing:0px;line-height:1.2;text-align:center;color:rgb(239,108,0)">
    <p style="margin:0px;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif">Your policy details</p>
</div>
</td></tr></tbody></table>
</td></tr></tbody></table>
</td></tr></tbody></table>

<!-- Policy Info Table -->
<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
<tbody><tr><td>
<table class="m_-7067999236452789207row-content m_-7067999236452789207stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-radius:0px;width:600px;margin:0px auto;background-color:rgb(250,250,250);color:rgb(0,0,0)" width="600">
<tbody><tr><td class="m_-7067999236452789207column" width="100%" style="font-weight:400;text-align:left;vertical-align:top">
<table width="100%" border="0" cellpadding="25" cellspacing="0" role="presentation">
<tbody><tr><td>
<table style="border-collapse:collapse;width:100%;table-layout:fixed;direction:ltr;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;font-weight:400;text-align:left;letter-spacing:0px;background-color:transparent;color:rgb(113,119,125)" width="100%">
<tbody style="vertical-align:top;font-size:15px;line-height:1.5;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif">
<tr><td width="50%">Policy number:</td><td width="50%">{{ policy_number }}</td></tr>
<tr><td width="50%">Policy Start:</td><td width="50%">{{ policy_start }}</td></tr>
<tr><td width="50%">Policy end:</td><td width="50%">{{ policy_end }}</td></tr>
<tr><td width="50%">Insured by:</td><td width="50%">{{ insurer }}</td></tr>
<tr><td width="50%">Duration:</td><td width="50%">{{ duration }}</td></tr>
<tr><td width="50%">Vehicle:</td><td width="50%">{{ car_make }}</td></tr>
<tr><td width="50%">​</td><td width="50%">{{ car_model }}</td></tr>
<tr><td width="50%">​</td><td width="50%">{{ car_reg }}</td></tr>
<tr><td width="50%">Licence:</td><td width="50%">{{ licence }}</td></tr>
<tr><td width="50%">Address:</td><td width="50%">{{ address }}</td></tr>
<tr><td width="50%">Email:</td><td width="50%">{{ email }}</td></tr>
<tr><td width="50%">Total cost:</td><td width="50%">{{ price }}</td></tr>
</tbody></table>
</td></tr></tbody></table>
<!-- NB Line -->
<table width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation">
    <tbody><tr>
        <td>
            <table style="border-collapse:collapse;width:100%;table-layout:fixed;direction:ltr;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;font-weight:400;text-align:left;letter-spacing:0px;background-color:transparent;color:rgb(113,119,125)" width="100%">
                <tbody style="vertical-align:top;font-size:10px;line-height:1.2;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif">
                    <tr style="font-family:Lato,Tahoma,Verdana,Segoe,sans-serif">
                        <td width="50%" style="padding:10px;word-break:break-word;border-width:1px;border-style:solid;border-color:transparent">​</td>
                        <td width="50%" style="padding:10px;word-break:break-word;border-width:1px;border-style:solid;border-color:transparent">NB: Total cost includes IPT at 12% and admin fee payable to Dayinsure</td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</tbody></table>

<!-- Manage Policy Button -->
<table width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation">
    <tbody><tr>
        <td>
            <div align="center">
                <a href="{{ url_root }}login" style="text-decoration:none;color:rgb(255,255,255)" target="_blank">
                    <span style="border-width:0px;border-style:solid;border-radius:25px;display:inline-block;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;font-size:16px;font-weight:400;padding:5px 20px;text-align:center;width:55%;background-color:rgb(46,96,32);color:rgb(255,255,255)">
                        <span style="line-height:32px;">Manage policy and view<br>documents</span>
                    </span>
                </a>
            </div>
        </td>
    </tr>
</tbody></table>

<!-- Divider -->
<table width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation">
    <tbody><tr>
        <td>
            <div align="center">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                    <tbody><tr>
                        <td style="font-size:1px;line-height:1px;border-top:1px solid rgb(221,221,221)"><span> </span></td>
                    </tr>
                </tbody></table>
            </div>
        </td>
    </tr>
</tbody></table>

<!-- Support Message -->
<table width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation">
    <tbody><tr>
        <td>
            <div style="text-align:center;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;font-size:17px;color:rgb(113,119,125)">
                <p>If you have any questions about your policy, <span style="color:rgb(239,108,0)">check out our FAQ's</span> or <span style="color:rgb(239,108,0)">contact us</span>.</p>
            </div>
        </td>
    </tr>
</tbody></table>

<!-- Claims Info -->
<table width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation">
    <tbody><tr>
        <td>
            <div style="text-align:center;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;font-size:17px;color:rgb(113,119,125)">
                <p><span style="color:rgb(239,108,0)">Making a claim</span><br><br>
                We hope you don't need to contact us,<br>
                but if you do need to get in touch please call<br>
                Aviva Claims Contact Information<br>
                UK - <span style="color:rgb(239,108,0)">08000 156 166</span><br>
                Outside UK - <span style="color:rgb(239,108,0)">(0044) 161 866 4114</span></p>
            </div>
        </td>
    </tr>
</tbody></table>

<!-- Divider -->
<table width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation">
    <tbody><tr>
        <td>
            <div align="center">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                    <tbody><tr>
                        <td style="font-size:1px;line-height:1px;border-top:1px solid rgb(221,221,221)"><span> </span></td>
                    </tr>
                </tbody></table>
            </div>
        </td>
    </tr>
</tbody></table>

<!-- CTA: New Policy -->
<table width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation">
    <tbody><tr>
        <td>
            <div style="text-align:center;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;font-size:17px;color:rgb(113,119,125)">
                <p>Need a new policy?</p>
            </div>
        </td>
    </tr>
</tbody></table>
<table width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation">
    <tbody><tr>
        <td>
            <div align="center">
                <a href="https://retail.dayinsure.com/quote/registration-search?referrer=RAC" style="text-decoration:none;color:rgb(255,255,255)" target="_blank">
                    <span style="border-width:0px;border-style:solid;border-radius:25px;display:inline-block;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;font-size:17px;font-weight:400;padding:5px 20px;text-align:center;width:55%;background-color:rgb(46,96,32);color:rgb(255,255,255)">
                        <span style="line-height:34px;">Get a Quote</span>
                    </span>
                </a>
            </div>
        </td>
    </tr>
</tbody></table>

<!-- Footer -->
<table width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation">
    <tbody><tr>
        <td>
            <div style="text-align:center;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;font-size:12px;color:rgb(113,119,125)">
                <p>RAC Financial Services Limited act as an introducer to Dayinsure.com Ltd for RAC Day Insurance. RAC Financial Services Limited is registered in England No. 5171817. Registered Office: RAC House, Brockhurst Crescent, Walsall WS5 4AW. RAC Day Car Insurance is arranged and administered by Dayinsure.com Ltd, which is registered in England no. 04996289, registered office: Mara House, Tarporley Business Centre, Nantwich Road, Tarporley, Cheshire CW6 9UY. Both companies are authorised and regulated by the Financial Conduct Authority. RAC Day Insurance is underwritten by Aviva Insurance Limited. Registered in Scotland, No 2116. Registered Office: Pitheavlis, Perth PH2 0NH. Aviva Insurance Limited are authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority.</p>
            </div>
        </td>
    </tr>
</tbody></table>

<!-- Padding Space -->
<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background-color:rgb(244,242,242)">
<tbody><tr><td>
<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:600px;margin:0 auto;">
<tbody><tr><td style="padding-bottom:5px;padding-top:5px;"><div style="height:70px;line-height:70px;font-size:1px"> </div></td></tr>
</tbody></table>
</td></tr></tbody></table>

</body>
</html>